body{
  font-family: cursive;
  background: -webkit-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
    background: -moz-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
    background:   -ms-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
      background:   -o-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
     background:       linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
}
#container{

  width: 360px;
  margin: 100px auto;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  background: #f7f7f7;
}

h1{
  background-color: #2980b9;
  color: white;
  margin: 0;
  padding: 10px 20px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: normal;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
li:hover span{
  width: 40px;
  opacity: 1.0;

}


li{
background: #fff;
height: 40px;
line-height: 40px;
color: #666;
}
li:nth-child(2n){
  background-color: #f7f7f7;
}

  span{
    background: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0px;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
  }

input{
  font-size: 18px;
background-color: #f7f7f7;
padding: 13px 13px 13px 20px;
width: 100%;
box-sizing: border-box;
color: #2980b9;
font-family: monospace;
border: 3px solid rgba(0, 0, 0, 0);
}
input:focus{
  background: #fff;
  border: 3px solid #2890b9;
  transition: 0.5s;
  outline: none;
}

.completed{
  color: gray;
  text-decoration: line-through;
}
.fa-pencil{
  float: right;
  color: black;
  }
  
